@import "../../../index.scss";

.message-posted {
  transition: all 0.3s;

  .form__message__posted {
    transition: all 0.3s;
    border-radius: 1px;
    margin: 15px;
    &:hover {
      background-color: #d3d3d3;
      transition: all 0.3s;
      cursor: pointer;
      border-radius: 5px;
    }
  }
}
.wrapper-message-user {
  background-color: $background-color-components;
  color: #242424;
  margin: 0 auto;
  width: 40%;

  header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 0;
    padding-left: 0;
    border-top: none !important;
    border: solid 2px #2f3336;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 17px;
      background-color: #242424;
      color: #fff;
      transition: all 0.3s;

      &:hover {
        background-color: #434343;
        transition: all 0.3s;
        cursor: pointer;
      }
    }
  }
}
