.wrapper-explore {
    &-form {
      border-bottom: 1px solid #f9f9f9f9;
  
      input {
        border-radius: 10px;
        font-size: 1.1rem;
        width: 100%;
        padding: 15.3px;
      }
  
      form {
        padding: 10px;
        margin: 18px;
      }
    }
  }
  