@import "../../index.scss";

.profile-content-details {
  display: flex;
  align-items: center;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
  .profile-content-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .profile-content-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    button {
      border: none;
      padding: 10px 15px;
      border-radius: 10px;
      margin-right: 10px;
      font-size: 0.9rem;
      cursor: pointer;
      display: flex;
      align-items: center;
    }
  }
}

.other-pages-user-page {
  display: flex;
  justify-content: space-around;
  text-align: center;
  a {
    padding: 10px;

    &:hover {
      text-decoration: none;
      background-color: #e1e1e1;
      border-radius: 5px;
    }
  }
}

.edit-profile-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  .edit-profile-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .close {
        padding: 4px 10px !important;
        margin: 0;
        font-size: 0.9rem;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .line-division {
      width: 100%;
      height: 1px;
      background-color: #e1e1e1;
      margin: 10px 0;
    }

    .form-edit-profile {
      form {
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 10px;
          font-weight: bold;
        }

        input[type="text"] {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-bottom: 15px;
        }

        textarea {
          padding: 10px;
          border: 1px solid #ccc;
          border-radius: 5px;
          margin-bottom: 15px;
          resize: vertical;
          min-height: 100px;
        }

        button {
          background-color: #242424;
          color: white;
          border: none;
          padding: 10px;
          border-radius: 5px;
          cursor: pointer;
          transition: background-color 0.3s;

          &:hover {
            background-color: #161616;
          }
        }

        .change-first-row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .change-username {
            display: flex;
            flex-direction: column;
            width: 60%;
            input[type="text"] {
              width: 100%;
              height: 50px;
            }
          }

          img {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            object-position: top;
            cursor: pointer;
          }
        }
      }
    }
  }
}
