@import "../../index.scss";

.profile-content-details {
  .profile-content-actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  .profile-content-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    button {
      border: none;
      padding: 10px 15px;
      border-radius: 10px;
      margin-right: 10px;
      font-size: 0.9rem;
      cursor: pointer;
    }
  }
}
