@import "../../index.scss";

.form__message__posted {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;

  .user-wrapper {
    display: flex;

    .user__image {
      margin-right: 10px;
      height: fit-content;
    }

    .user__details {
      display: flex;
      flex-direction: column;
      width: 100%;
      .routes__profile {
        display: flex;
      }
    }
  }

  .post__details {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    margin-right: 10px;
  }

  .message {
    margin: 10px 0;
  }

  .username,
  .messagedate {
    color: #616161;
  }

  .image-posted img {
    width: 100%;
    object-fit: fill;
    border-radius: 10px;
  }
}

.reply {
  border: 1px solid #cecece;
  border-radius: 8px;
  transition: all 0.3s;
  margin: auto;
  width: 30vw;

  &:hover {
    background-color: #dddddd !important;
    cursor: pointer;
  }
}
