@import "../../index.scss";

.form__message__posted {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;


  .repost__indicator {
    svg {
      color: #2f2f2f;
      font-size: 1.3rem;
    }
    span {
      margin-left: 70px;
      display: flex;
      align-items: center;
      gap: 5px;
      color: #2f2f2f;
      font-size: .9rem;

    }
  }

  .user-wrapper {
    display: flex;

    .user__image {
      margin-right: 10px;
      height: fit-content;
    }

    .user__details {
      display: flex;
      flex-direction: column;
      width: 100%;
      .wrapper__post__details {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .options {
          .edit__button {
            svg {
              transition: all 0.3s;
              border-radius: 8px;
              &:hover {
                transition: all 0.3s;
                cursor: pointer;
                background-color: #929292 !important;
                border-radius: 8px;
              }
            }
          }
          position: relative;
          &__box {
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            background-color: rgb(255, 255, 255);
            border: 1px solid #cecece;
            border-radius: 8px;
            width: 10vw;
            z-index: 100;
            span {
              padding: 10px;
              font-size: 0.95rem;
              height: 7vh;
              text-align: center;
              display: flex;
              align-items: center;
              transition: all 0.3s;
              &:hover {
                transition: all 0.3s;
                background-color: #dddddd !important;
                cursor: pointer;
              }
            }
          }
        }
        .routes__profile {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  .post__details {
    display: flex;
    justify-content: flex-start;
    height: fit-content;
    margin-right: 10px;
  }

  .message {
    margin: 10px 0;
  }

  .username,
  .messagedate {
    color: #616161;
  }

  .image-posted {
    img {
      width: 100%;
      object-fit: fill;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}

.reply {
  border: 1px solid #cecece;
  border-radius: 8px;
  transition: all 0.3s;
  margin: auto;
  width: 30vw;

  &:hover {
    background-color: #dddddd !important;
    cursor: pointer;
  }
}

.maximized-image {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.342);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
    border-radius: 10px;
  }
}
