@import "../../index.scss";

aside {
  h1 {
    display: flex;
    justify-content: center;
    font-size: 3.2em;
    // text-transform: uppercase;
  }

  width: 18%;
  background-color: $background-color-components;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  .aside__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-bottom: solid 1px #0000004f;

    a {
      padding: 10px;
      &:hover {
        background-color: #fff !important;
      }
    }
  }

  a {
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s;
    color: #000;
    width: 100%;
    padding: 30px;
    font-size: 1.1em;
    transition: all 0.3s;

    &:hover {
      background-color: #e1e1e1;
    }
  }

  ul {
    li {
      list-style: none;

      cursor: pointer;

      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .reactIcon {
    color: #000;
    margin-right: 30px;
    font-size: 2rem;
  }

  .nav-active {
    display: flex;
    align-items: center;
    background-color: #0000004f;
    &:hover {
      background-color: #0000007b;
    }
  }

  .nav-not-active {
    display: flex;
    align-items: center;
    background-color: $background-color-components;
  }
}

.user-profile-item {
  position: relative;
  color: #000;
  transition: all 0.3s;
  display: block;
  padding: 30px;

  &:hover {
    background-color: #e1e1e1;
  }

  .user-profile-route {
    display: flex;
    align-items: center;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    svg {
      margin: 0;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 0;
      margin-right: 10px;
    }

    .user-profile-route-info {
      margin-left: 10px;

      .info-name {
        font-weight: bold;
      }

      .info-username {
        font-size: 12px;
        color: #505050;
        font-weight: 500;
      }
    }
  }

  .logout-card {
    width: 100%;
    position: absolute;
    top: -50px; // Move o card de logout acima do li
    left: 0;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      background-color: #242424;
      color: white;
      border: none;
      cursor: pointer;
      transition: background-color 0.3s;
      display: flex;
      align-items: center;

      span {
        width: max-content;
        padding: 15px;
      }

      &:hover {
        background-color: #3e3e3e;
      }
      .reactIcon {
        color: white;
      }
    }
  }
}
