@import "../../index.scss";

aside {
  h1 {
    display: flex;
    justify-content: center;
    font-size: 3.2em;
    // text-transform: uppercase;
  }

  width: 18%;
  background-color: $background-color-components;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-y: auto;
  .aside__title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    border-bottom: solid 1px #0000004f;
  }

  a {
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s;
    color: #000;
    width: 100%;
    padding: 30px;
    font-size: 1.1em;
    transition: all 0.3s;
    &:hover {
      background-color: #e1e1e1;
    }
  }

  ul {
    li {
      list-style: none;

      cursor: pointer;

      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .reactIcon {
    color: #000;
    margin-right: 30px;
    font-size: 2rem;
  }

  .nav-active {
    display: flex;
    align-items: center;
    background-color: #0000004f;
    &:hover {
      background-color: #0000007b;
    }
  }

  .nav-not-active {
    display: flex;
    align-items: center;
    background-color: $background-color-components;
  }
}