.reactions__message {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  border-bottom: solid 1px rgb(207 207 207 / 62%);
  padding-top: 10px;

  .reaction__icon {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    transition: 0.3s all;
    width: 45px;
    .like__count {
      font-size: 1.1rem;
      margin-left: 10px;
    }
  }

  .reaction__like {
    z-index: 100;
    &:hover {
      cursor: pointer;
      color: #ff6565;
      transition: 0.3s all;
    }
  }

  .reaction__comment {
    &:hover {
      cursor: pointer;
      color: #1f9b00;
      transition: 0.3s all;
    }
  }

  .reaction__share {
    &:hover {
      cursor: pointer;
      color: #0018d0;
      transition: 0.3s all;
    }
  }
}


.like__count__icon {
  transition: color 0.2s ease;
}

.like__count__icon.liked {
  color: red;
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
