.reactions__message {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  border-bottom: solid 1px #8181819e;

  .reaction__icon {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    transition: 0.3s all;

    .like__count {
      font-size: 1.1rem;
      margin-left: 10px;
    }
  }

  .reaction__like {
    &:hover {
      cursor: pointer;
      color: #ff0000;
      transition: 0.3s all;
    }
  }

  .reaction__comment {
    &:hover {
      cursor: pointer;
      color: #1f9b00;
      transition: 0.3s all;
    }
  }

  .reaction__share {
    &:hover {
      cursor: pointer;
      color: #0018d0;
      transition: 0.3s all;
    }
  }
}
