
.reactions__message {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;

  .reaction__icon {
    font-size: 1.5rem;
    transition: 0.3s all;
  }

  .reaction__like {
    &:hover {
      cursor: pointer;
      color: #ff0000;
      transition: 0.3s all;
    }
  }

  .reaction__comment {
    &:hover {
      cursor: pointer;
      color: #1f9b00;
      transition: 0.3s all;
    }
  }

  .reaction__share {
    &:hover {
      cursor: pointer;
      color: #0018d0;
      transition: 0.3s all;
    }
  }
}
